* {
  margin: 0px;
  padding: 0px;
  
}
.mainContainer {
  display: flex;
  width: 1200px;
  margin: 0px auto;
}
nav {
  padding: 20px;
  background-color: black;
  margin: 0px 140px;
}
.nav {
  color: white;
}
.heading {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.leftProfile {
 width: 500px;
}
.profile {
  width: 200px;
  height: 300px;
  margin: 0px auto;
 border: 3px solid black;
}

img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 5px 30px;
}
.avatar {
  display: inline-block;
  margin: 15px 50px;
  text-decoration: none;
}
.name {
  font-size: 2.5rem;
  margin: 20px 5px;
}
.card {
  width: 500px;
  height: 200px;
  border: 2px solid black;
  
}

.row {
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 2rem;
  margin: 5px;
}

.count {
  font-size: 1.5rem;
  margin: 20px 0px;
}

.btnLike {
  margin: 15px;
  background-color: #ba135d;
  width: 95px
}

.cardText {
  font-size: 1.5rem;
  text-align: center;
  margin: 25px 0px;
}